@charset "UTF-8";
@import '../public';

//webFont
.fontFamily{width:100%;margin-right:0;height:30px;color:#fff;margin-left:10px;}
.fontFamily span{display:inline-block;margin-right:30px;}
.fontFamily em{font-size:12px;}
.HelveticaNeueBold{font-family: HelveticaNeueBold;}
.helveticaNeuelight{font-family: helveticaNeuelight;}
.HelveticaNeueregular{font-family: HelveticaNeueregular;}
.HelveticaNeueThin{font-family: HelveticaNeueThin;}
.HelveticaNeueUltraLight{font-family: HelveticaNeueUltraLight;}
.lucida_grande-webfont{font-family: lucida_grande-webfont;}
.newHelveticaNeueLightWebfont{font-family: new-helvetica-neue-light-webfont;}
.HelveticaNeueMedium{font-family: HelveticaNeueMedium;}

//颜色 - 不变颜色
.bottom-c{background-color:$bottom-c;}
.c1-c{background-color:$c1-c;}
.c2-c{background-color:$c2-c;}
.c3-c{background-color:$c3-c;}
.c4-c{background-color:$c4-c;}
.c5-c{background-color:$c5-c;}
.c6-c{background-color:$c6-c;}
.c7-c{background-color:$c7-c;}
.c8-c{background-color:$c8-c;}
.c9-c{background-color:$c9-c;}
.c10-c{background-color:$c10-c;}
.c11-c{background-color:$c11-c;}
.c12-c{background-color:$c12-c;}
.c13-c{background-color:$c13-c;}
.c14-c{background-color:$c14-c;}
.c15-c{background-color:$c15-c;}
.c16-c{background-color:$c16-c;}
.c17-c{background-color:$c17-c;}

//颜色 - 可变颜色
.main-c{background-color:$main-c;}
.b1-c{background-color:$b1-c;}
.b2-c{background-color:$b2-c;}
.b3-c{background-color:$b3-c;}
.b4-c{background-color:$b4-c;}
.b5-c{background-color:$b5-c;}
.b6-c{background-color:$b6-c;}
.b7-c{background-color:$b7-c;}
.b8-c{background-color:$b8-c;}
.b9-c{background-color:$b9-c;}

//未列出的颜色
.c17-c-1{background-color:$c17-c-1;}
.c17-c-2{background-color:$c17-c-2;}
.c17-c-3{background-color:$c17-c-3;}
.c17-c-4{background-color:$c17-c-4;}
.c17-c-5{background-color:$c17-c-5;}

//字体-可变颜色
.v1-f{@include returnFontChangeV(1, 1);}
.v2-f{@include returnFontChangeV(1, 2);}
.v3-f{@include returnFontChangeV(1, 3);}
.v4-f{@include returnFontChangeV(1, 4);}
.v5-f{@include returnFontChangeV(1, 5);}
.v6-f{@include returnFontChangeV(1, 6);}
.v7-f{@include returnFontChangeV(1, 7);}
@include returnFontChangeV(0, 8);
@include returnFontChangeV(0, 9);


//字体不变颜色
.f1-f{@include returnFontChangeF(1, 1);}
.f2-f{@include returnFontChangeF(1, 2);}
.f3-f{@include returnFontChangeF(1, 3);}
.f4-f{@include returnFontChangeF(1, 4);}
.f5-f{@include returnFontChangeF(1, 5);}
.f6-f{@include returnFontChangeF(1, 6);}
.f7-f{@include returnFontChangeF(1, 7);}
.f8-f{@include returnFontChangeF(1, 8);}
.f9-f{@include returnFontChangeF(1, 9);}
.f10-f{@include returnFontChangeF(1, 10);}
.f11-f{@include returnFontChangeF(1, 11);}
.f12-f{@include returnFontChangeF(1, 12);}
.f13-f{@include returnFontChangeF(1, 13);}
.f14-f{@include returnFontChangeF(1, 14);}
.f15-f{@include returnFontChangeF(1, 15);}
.f16-f{@include returnFontChangeF(1, 16);}
.f17-f{@include returnFontChangeF(1, 17);}
.f18-f{@include returnFontChangeF(1, 18);}
.f19-f{
  @include returnFontChangeF(1, 19);
  font-weight:bold;
}
.f20-f{@include returnFontChangeF(1, 20);}
.f21-f{@include returnFontChangeF(1, 21);}
.f22-f{@include returnFontChangeF(1, 22);}
.f23-f{@include returnFontChangeF(1, 23);}
.f24-f{@include returnFontChangeF(1, 24);}
.f25-f{@include returnFontChangeF(1, 25);}
.f26-f{@include returnFontChangeF(1, 26);}
.f27-f{@include returnFontChangeF(1, 27);}
.f28-f{@include returnFontChangeF(1, 28);}
.f29-f{@include returnFontChangeF(1, 29);}
.f30-f{@include returnFontChangeF(1, 30);}
.f31-f{@include returnFontChangeF(1, 31);}
.f32-f{@include returnFontChangeF(1, 32);}
.f33-f{@include returnFontChangeF(1, 33);}
@include returnFontChangeF(0, 34);
.f35-f{@include returnFontChangeF(1, 35);}
.f36-f{@include returnFontChangeF(1, 36);}
.f37-f{@include returnFontChangeF(1, 37);}
.f38-f{@include returnFontChangeF(1, 38);}
.f39-f{@include returnFontChangeF(1, 39);}
.f40-f{@include returnFontChangeF(1, 40);}
.f41-f{@include returnFontChangeF(1, 41);}
.f42-f{@include returnFontChangeF(1, 42);}
.f43-f{@include returnFontChangeF(1, 43);}
.f44-f{@include returnFontChangeF(1, 44);}
.f45-f{@include returnFontChangeF(1, 45);}
.f46-f{@include returnFontChangeF(1, 46);}
.f47-f{@include returnFontChangeF(1, 47);}
.f48-f{@include returnFontChangeF(1, 48);}
.f49-f{@include returnFontChangeF(1, 49);}
.f50-f{@include returnFontChangeF(1, 50);}
.f51-f{@include returnFontChangeF(1, 51);}
.f52-f{@include returnFontChangeF(1, 52);}
.f53-f{@include returnFontChangeF(1, 53);}
@include returnFontChangeF(0, 54);

